#cloud-config
# vim: syntax=yaml
#

# Set your hostname here, the manage_etc_hosts will update the hosts file entries as well
hostname: {{ shortname }}
manage_etc_hosts: true

# You could modify this for your own user information
users:
  - name: pirate
    gecos: "Hypriot Pirate"
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups: users,docker,video,input
    plain_text_passwd: hypriot
    lock_passwd: false
    ssh_pwauth: true
    chpasswd: { expire: false }
    ssh_authorized_keys:
      - {{ lookup('file', 'pirate.pub') }}"

# # Set the locale of the system
locale: "en_US.UTF-8"

# # Set the timezone
# # Value of 'timezone' must exist in /usr/share/zoneinfo
timezone: "America/Los_Angeles"

# # Update apt packages on first boot
package_update: true
#package_upgrade: true
#package_reboot_if_required: true
#package_upgrade: false

# # Install any additional apt packages you need here
packages:
 - i2c-tools
 - python-smbus
 - nmap

# # WiFi connect to HotSpot
# # - use `wpa_passphrase SSID PASSWORD` to encrypt the psk
write_files:
 - content: |
     auto lo
     iface lo inet loopback

     #auto eth0
     #iface eth0 inet dhcp

     auto eth0
     iface eth0 inet static
       address {{ nic_ip }}
       netmask {{ nic_netmask }}
       gateway {{ nic_gateway}} 
   path: /etc/network/interfaces.d/50-cloud-init.cfg

#   - content: |
#       country=de
#       ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
#       update_config=1
#       network={
#       ssid="YOUR_WIFI_SSID"
#       psk="YOUR_WIFI_PASSWORD"
#       proto=RSN
#       key_mgmt=WPA-PSK
#       pairwise=CCMP
#       auth_alg=OPEN
#       }
#     path: /etc/wpa_supplicant/wpa_supplicant.conf

# These commands will be ran once on first boot only
runcmd:
  # Pickup the hostname changes
  #- '/sbin/ifconfig eth0:1'
  #- '/sbin/ifup eth0:1'
  - 'systemctl stop avahi-daemon'
  - 'systemctl disabled avahi-daemon'
  - 'reboot'

#  # Activate WiFi interface
#  - 'ifup wlan0'
